* {
  font-family: "San Francisco", Helvetica, Arial, san-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 400px;
  background-color: #2b2832;
  color: white;
}

.screen {
  text-align: right;
  font-family: "San Francisco", Helvetica, Arial, san-serif;
  font-weight: lighter;
  padding: 20px 5px;
  font-size: 60px;
}

.calc-button-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.double {
  flex-basis: 49.65%;
  background-color: #5f5c63;
  color: white;
  border: none;
  height: 100px;
  margin-top: 0.6%;
  font-size: 40px;
  font-weight: lighter;
}

.double:hover {
  background-color: #a3a0a2;
}
.calc-button-number {
  background-color: #5f5c63;
  color: white;
  border: none;
  height: 100px;
  flex-basis: 24.5%;
  margin-top: 0.6%;
  font-size: 40px;
  font-weight: lighter;
}

.calc-button-symbol {
  background-color: #f2a33c;
  color: white;
  border: none;
  height: 100px;
  flex-basis: 24.5%;
  margin-top: 0.6%;
  font-size: 40px;
  font-weight: lighter;
}

.calc-button-symbol:hover {
  background-color: #c0812d;
}

.calc-button-top {
  background-color: #3f3c43;
  color: white;
  border: none;
  height: 100px;
  flex-basis: 24.5%;
  margin-top: 0.6%;
  font-size: 40px;
  font-weight: lighter;
}
.calc-button-top:hover {
  background-color: #5f5c63;
}

.click {
  background-color: #a3a0a2;
}

.calc-button-number:hover {
  background-color: #a3a0a2;
}
